//COLORS

$colorPrimary: #d5c89a; //18ff80;
$colorPrimaryHeader: #b8a668; //18ff80;
//$colorPrimary-light: rgb(255, 247, 237); //AADDBB;
$colorPrimary-light: rgb(252, 249, 243); //AADDBB;
$colorPrimary-dark: #72695A;//00a84b;

$colorSecondary: #948D7F;

$colorTertiary-light: rgb(247, 238, 230);//f2dae7;
$colorTertiary-dark: #807363;//7c184e;//881155;
$colorTertiary: #BCA998;//881155;

$colorQuadary: #7bccc2;
// #E8E8EA gray-light
// #A6A6A5 gray

// #2A2926 dark 
// #3B3936 less Dark
// #676159 light Dark


$colorGrey-light1: #f7f7f7;
$colorGrey-light2: #eee;
$colorGrey-light3: #ccc;

$colorGrey-dark1: #777;
$colorGrey-dark2: #999;
$colorGrey-dark3: #333;

$colorBlack: #000;
$colorPaletteBlack: #20201B;
$colorWhite: #ffffff;
$colorOffWhite: #fffbf7;

//GRID VARIABLES

$grid-width: 114rem;
$gutter-leftright: 1rem;
$gutter-topbott: 2rem;

//Z-INDEX

$zBehind: -1;
$zInfront: 1000;
$zMiddle: 500;
$zMiddleFront: 750;
$zMiddleBack: 250;

