.footer {
    &__menuContainer {
        display: flex;
        justify-content: space-between;
        &--menu {
            &-item {
                text-transform: uppercase;
                @include respond(portrait) {
                    display: block;
                    font-size: 80%;
                }
                @include respond(smallPhone) {
                    font-size: 60%;
                }
                &:link,
                &:visited {        
                    color: $colorPrimary;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 80%;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.4s;
                    letter-spacing: 1.3px;
                    word-spacing: 5px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    // color: $colorOffWhite;
                    // text-decoration: none;
                    // transition: all .4s;
                    &:not(:last-child) {
                        margin-right: 4rem;
                    }
                }
                &:hover,
                &:active {
                    color: $colorPrimary-light;
                    border-bottom: 2px solid $colorPrimary-light;
                }
            }
        }
        &--social {
            &-item {
                @include respond(portrait) {
                    font-size: 80%;
                }
                &:link,
                &:visited {
                    color: $colorPrimary;
                    text-decoration: none;
                    transition: all .4s;
                }
                &:hover,
                &:active {
                    color: $colorPrimary-light;
                }
                &:not(:last-child) {
                    margin-right: 4rem;
                } // 
                &-img {
                    height: 2rem;
                    border-radius: .3rem;
                    &:hover,
                    &:active {
                        transform: scale(1.25, 1.25);
                    }
                }
            
                &-web {
                    vertical-align: 10%;
                    color: $colorPrimary;
                    text-decoration: none;
                    font-size: 80%;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.4s;
                    letter-spacing: 1.3px;
                    word-spacing: 5px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                }
                &:hover,
                &:active {
                    color: $colorPrimary-light;
                    border-bottom: 2px solid $colorPrimary-light;
                }
            }
        }
    }
    &__copy {
        text-align: center;
        color: $colorGrey-light3;
        font-size: 75%;
        margin-top: 2rem;
        @include respond(phone) {
            font-size: 65%;
            width: 80%;
            margin: 3rem auto 0;
        }
        @include respond(smallPhone) {
            margin-top: .5rem;
        }
    }
}