.header {
    width: 100%;
    @include respond(smallPhone) {
        width: 108%;
    }
    &__topLineWrapper {
        height: 15%;
    }
    &__logoBox {
        padding: 1rem;
        float: left;
        border-radius: .3rem;
        &--logo {
            height: 6rem;
            opacity: .5;
            @include respond(smallPhone) {
                height: 4rem;
                opacity: .1;
            }
        }
    }
    &__heroBox {
        @include centerBoxAbs;
        @include respond(phone) {
            top: 35%;
        }
        text-align: center;
        width: 100%;
        //see o-headingPrimary in _reusables for other settings   
        &--mainHeading {
            letter-spacing: .8rem;
            font-weight: 600;
            &:focus {
                outline:none;
            }
            &>span {
                color: $colorPrimary;
                font-size: 85%;
                font-weight: 500;
            }
        }
        &--subText {
            font-weight: 400;           
            font-size: 75%;
            color: $colorPrimary;
            display: inline-block;
            @include clipTextDark;
            font-size: 3.5rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
            transition: all .2s;          
            @include respond(smallPhone) {
                font-size: 1.3rem;
                letter-spacing: .2rem;
                line-height: unset;
                text-transform: none;
            }           
            &:hover {
                transform: skewY(-2deg) skewX(-15deg) scale(1.1);
                text-shadow: .5rem 1rem 2rem rgba($colorBlack, .2);
            }           
        }
    }    
    &.ion-navicon {
        color: $colorWhite;
        cursor: pointer;
        float: right;
        display: none;
        font-size: 200%;
        margin-right: 10px;
    }
    &.ion-close {
        float: right;
        margin-right: 10px;
        color: $colorWhite;
        cursor: pointer;
    }
}
.marquee-fixed {
    overflow:auto;
    height: 150px;
    width: 300px;
    position: absolute;
    right: 5%;
    top: 35%;
    color: $colorQuadary;
    text-align: center;
	padding:10px;
    font-size:18px;
    line-height:1.6;
    @include respond(portrait) {
        text-align: right;
        font-size: 16px;
    }
    @include respond(phone) {
        right: 41%;
        top: 53%;
        text-align: center;
    }
    @include respond(smallPhone) {
        top: 47%;
        right: 0;
        font-size: 14px;
    }
}
.marquee-wrap {  //A PEN BY Paul O'Brien
	overflow:auto;
    height: 75px;
    width: 300px;
    position: absolute;
    right: 5%;
    top: 68%;
    color: $colorQuadary;
    text-align: center;
	padding:10px;
    font-size:18px;
    line-height:1.6;
    @include respond(portrait) {
        text-align: right;
        font-size: 16px;
    }
    @include respond(phone) {
        height: 90px;
        right: 5%;
        top: 58%;
        text-align: center;
    }
    @include respond(smallPhone) {
        height: 30px;
        right: 0;
        top: 82%;
        font-size: 14px;
    }
    
}
/* change duration to change scroll speed */
.marquee{animation:scrollUp 15s linear infinite;} //A PEN BY Paul O'Brien
@supports (transform:translate3d(0px,0px,0px)){
	.marquee-wrap {overflow:hidden; }
	.marquee{padding-top:60px;}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.marquee-wrap {overflow:hidden; }/* ie11 hack */
	.marquee{padding-top:160px;}
}
@keyframes scrollUp {
	from {transform:translateY(0%);}
	to {transform:translateY(-100%);}
}
.marquee:hover{animation-play-state:paused}