.header {
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)), url(../img/glassBreaks1LoopA.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    @include respond(smallPhone) {
        height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 73vh, 0 100%);
    }
}
.sectionProjects {
    padding: 3rem;
    clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 100%);
    @include respond(phone) {
        padding: 5rem 3rem 3rem;
    }
    @include respond(smallPhone) {
        padding: 3rem 0;
    }
}
.sectionAbout {
    width: 100%;
    clip-path: polygon(0 0, 100% 5%, 100% 120%, 0 120%);
    margin: -5rem auto 5rem;
    padding-top: 7.5rem;
}
.footer {   
    background-color: $colorPaletteBlack;
    padding: 4rem;
}

