body {
    background-color: $colorPrimary-light;
}
.contact {
    height: 100vh;
    width: 100%;   
    // &__image {
    //     position: relative;
    //     height: 100%;
    //     width: 100%;
    //     display: block;
    //     margin: 0 auto;

    //     @include respond(portrait900) {
    //         width: 100%;
    //         background-image: linear-gradient( rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(../img/lightglassburstmytint.gif);   
    //         background-size: cover;           
    //     }
    //     @include respond(phone) {
    //         width: 100%;
    //         height: 100%;
    //         background-image: linear-gradient( rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(../img/lightglassburstmytint.gif);   
    //         background-size: cover;           
    //     }
    //     &>img {
    //        height: 100%;
    //        width: 100%; 
    //        opacity: .2;
    //     }
    // }

    // &__text {
    //     position: absolute;
    //     width: 285px;
    //     top: 160px;
    //     left: 100px;
    //     font-size: 20px;
    //     font-family: 'Josefin Slab', serif;
    //     color: $colorPrimary-light;
    //     // @include respond(portrait900) {
    //     //     top: 13%;
    //     //     left: 10%;
    //     //     width: 40%;
    //     // }
    //     // @include respond(phone) {
    //     //     position: static;
    //     //     margin: auto;
    //     //     padding-top: 50px;
    //     //     width: 267px;
    //     // }
    // }
    &__form {
        border-radius: 3px;
        max-width: 500px;
        margin: 50px auto;
        // @include centerBoxAbs;
        border: 1px solid $colorPrimary-dark;
        // border-radius: 7px;

        @include respond(phone) {
            width:100%;
            border: none;
            margin: 0;
        }

        &--title {
            background-color: $colorPrimary-dark;
            padding: 5px 3px;
            font-size: 21px;
            border-radius: 3px 3px 0 0;
            color: $colorPrimary-light;
            text-align: center;
        }
        &--myEmail {
            width: fit-content;
            margin: 15px auto;
            & a {
                text-decoration: none;
                color: teal;
                padding: 2px;
                transition: all .4s;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom: 1px solid teal;
                }
            }
            & span {
                color: teal;
                font-style: italic;
            }
        }
        &--userInputs {           
            padding: 10px;
            padding-bottom: 20px;
            line-height: 2;
            background-color: transparent;
            overflow: hidden;

            & div {
                width: 100%;
                display: flex;
                justify-content: stretch;  
            }
            & label {
                flex: 2;
                text-align: right;
                margin-right: 3px;
            }
            & input {
                flex: 8;
                margin: 3px;
                padding: 2px;
            }
            & textarea {
                width: 100%;
            }
            & input,
            & textarea {
                border-radius: 7px;
                font-size: 16px;
            }   
            & button {
                border-radius: 7px;
                font-size: 20px;
                display: block;
                margin: 0 auto;
                padding: 3px 10px;
            }
        }       
    }
}

//reCaptcha
.g-recaptcha {
    transform:scale(0.70) translateX(40px);
    -webkit-transform:scale(0.70) translateX(40px);  
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}
